@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;700&display=swap");

:root {
  --brown: rgba(139, 69, 30, 0.8);
  --font-family-Noto-sans: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.empty-box {
  height: 1000px;
}

.nav-link {
  position: relative;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--yellow);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
}

.dropdown-toggle::after {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.carousel-container {
  margin-top: 55px;
}

@media only screen and (max-width: 600px) {
  .carousel-title {
    font-size: 66px;
  }
}

.carousel-caption {
  color: black;
}

.carousel-indicator li {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black;
  background-color: black;
  border-radius: 50%;
}

.layout-quote {
  margin-top: 10%;
  font-size: 36px;
  color: grey;
}

.quote-left {
  transform: translateY(-25px);
}

.quote-right {
  transform: translateY(25px);
}

.text-container {
  margin-top: auto;
  margin-bottom: auto;
}

.coffee-content {
  background-color: var(--brown);
}

.coffee-content .layout-title {
  font-family: var(--font-family-Noto-sans);
  font-size: 30px;
  font-weight: 700;
}

.coffee-content .layout-text {
  font-family: var(--font-family-Noto-sans);
  font-size: 20px;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.layout-about .layout-image {
  border-radius: 50%;
}
